.header-flat {
  padding: 130px;
  background-color: white;
}

.header-flat-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-flat-details h1 {
  font-size: 17px;
  font-weight: bold;
}


.header-flat-details p {
  font-size: 15px;
}

.booking-box {
  padding: 20px;
  background-color: #f4f4f4;
}

.header-flat-name {
  margin-left: 60px;
}
